{% extends 'base.html.twig' %}
{% block title %}Form View{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="list-group">
            {{ dump(form.fields.toArray) }}
        </div>
    </div>
{% endblock %}