{% set route = app.request.attributes.get('_route') %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis text-decoration-none {{ route == 'home' ? 'fw-semibold' }}" href="{{ path('home') }}">
                <span><i class="bi bi-house-heart"></i></span>
                <span class="">Form list</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis {{ route == 'app_form' ? 'fw-semibold'}} text-decoration-none" href="#">Create form</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Data
        </li>
    </ol>
</nav>